Checks: >
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  clang-analyzer-*,
  -bugprone-chained-comparison,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  -readability-convert-member-functions-to-static,
  -readability-avoid-nested-conditional-operator,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -performance-enum-size
WarningsAsErrors: ''
HeaderFilterRegex: '.*/src/(client|gs2|server|shared)/.*'
