Language: Cpp
TabWidth: 4
IndentWidth: 4
UseTab: Never
SortIncludes: Never
IndentCaseBlocks: true
ColumnLimit: 0
AllowShortCaseLabelsOnASingleLine: true
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseColons: false
AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false
  AlignFunctionDeclarations: false
NamespaceIndentation: All
FixNamespaceComments: false
